/*
*
* Maintain Aspect ratio
* 
*/

/* Main Container*/
.ratio
{
	position: relative;
	overflow: hidden;

} 

.ratio:before
{
	content: "";
	display: block;
}
.ratio > *
{
	position: absolute;
	top:0;
	left:0;
	bottom: 0;
	right: 0;
	margin:auto;
}	
/* forced width and heigt for iframe */
.ratio iframe
{
	width: 100%;
	height: 100%;
}
/* img */
.ratio img
{
	max-width: 100%;
	height: auto;
}

/* list of ratio
------------------*/

/*Ratio 16/9*/
.ratio--16_9:before
{
	padding-top:56.25%;
}
/*Ratio 1.33*/
.ratio--1_33:before
{
	padding-top: 75.18%; /*( 1 / 1.33 ) * 100 */
}

