/**
* Maintain Aspect ratio
*
* @author splitfire - http://splitfire.fr
*
* Aspect ratio medias (img, block element, iframe etc..)
*/ 

//Main container
.ratio
{
	position: relative;
	display: block;
	overflow: hidden;
	&:before
	{
		content: "";
		display: block;
	}
	> *
	{
		position: absolute;
		top:0;
		left:0;
		bottom: 0;
		right: 0;
		margin:auto;
	}	
	//img 
	> img
	{
		max-width: 100%;
		height: auto;
	}
	//iframe width and height
	> iframe
	{
		width: 100%;
		height: 100%;
	}
}

@function calculate-ratio($ratio : false)
{
	@if($ratio)
	{
		@return (percentage(1/$ratio));
	}
}

// Ratio mixin
// Usage:
// .element {
// 		@include ratio($ratioValue: 1.85);
// 		
// }
// .element {
// 		@include rt($rtWidth : 800px, $rtHeight: 600px);
// }
//
// Resultat
//
// .element:before {
//		padding-top: 54.04%;
// }
//
// .element:before {
//		padding-top:75.18%;
// }
//

@mixin mr($ratio : false, $rtWidth : false, $rtHeight: false)
{
	@if($ratio)
	{
		@if( number == type-of($ratio))
		{
			&:before
			{
				padding-top: calculate-ratio($ratio);
			}
		}
		@else
		{
			@warn "$ratio must be a number";
		}
	} 
	@else if ($rtWidth) AND ($rtHeight)
	{
		@if( number == type-of($rtWidth) AND number == type-of($rtHeight))
		{
			$ratio : $rtWidth/ $rtHeight;
			&:before
			{
				padding-top: calculate-ratio($ratio);
			}
		}
		@else
		{
			@warn "$rtWidth and $rtHeight must be a number";
		}
	}
	@content;
}